[viewBag]
snippetCode = "kariera-random-image"
snippetName = "Kariera - random image"
==
<img src="/storage/app/media/kariera/{{ random(['splash_desno2.jpg',
    'splash_desno3.jpg',
    'splash_desno4.jpg',
    'splash-desno_16-6-09-1.jpg',
    'splash-desno_16-6-09-2.jpg',
    'splash-desno_16-6-09-3.jpg',
    'splash-desno_16-6-09-4.jpg',
    'splash-desno_16-6-09-5.jpg',
    'splash-desno_16-6-09-6.jpg',
    'splash-desno_16-6-09-7.jpg',
    'splash-desno_16-6-09-8.jpg',
    'splash-desno_16-6-09-9.jpg',
    'splash-desno_16-6-09-10.jpg',
    'splash-desno_16-6-09-11.jpg',
    'splash-desno_16-6-09-13.jpg',
    'splash-desno_16-6-09-14.jpg']) }}" class="fr-fic fr-dib img-fluid">
